
<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="portrait" id="startpage">
                    <div class="body-portrait">
                        <br />
                        <h1><b>Carfinder App</b></h1>
                        <br />
                        <br />
                        <h2><b>Find the Vintage Car of Your Dreams</b></h2>
                        <br />
                        <br />
                        <br />
                        <br />
                        <h4><b>An Angular JS/C# App</b></h4>
                        <br />
                        <br />
                        <br />
                        <a href="javascript:void(0)" class="btn btn-flat " id="open-content">Click Here to Start</a>
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </header>
 
                <section class="content" id="main-content">


                    <nav id='navigation'>
                        <ul class="navigation-list clearfix list-unstyled">
                            <li class="active"><a href="#about" data-toggle="tab" data-menu="about"><i class="icon-info-circled"></i> <span>About</span></a></li>
                            <li><a href="#search" data-toggle="tab" data-menu="search"><i class="icon-cab"></i>  <span>Cars</span></a></li>
                            <li><a href="#apihelp" data-toggle="tab" data-menu="apihelp"><i class="icon-export-outline"></i> <span>API</span></a></li>
                            <li><a href="#contact" data-toggle="tab" data-menu="contact"><i class="icon-mail"></i> <span>Contact</span></a></li>
                        </ul>
                    </nav>

                    <div class="tab-content">

                        <div id='about' class="tab-pane  fade in  active">
                            <div class="body-content">
                                <!-- =========
    Start List fact your self section
    ===================================-->

                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        @*<h2 class="title">Car Finder App</h2>*@
                                        <h3 class="title">This app is an exercise which uses internal and external APIs to allow users to search a car database </h3>
                                        <div class="box-fact-area">
                                            <div class="row">
                                                <div class="col-sm-3">                                                  
                                                    <img src="/assets/images/angular.png" class="img-responsive box-fact" alt="Angular.png">                          
                                                </div>
                                                <div class="col-sm-3">
                                                    <img src="/assets/images/webapi.jpg" class="img-responsive box-fact" alt="WebApi.jpg">
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="box-fact">
                                                        <i class="fa fa-globe  icn-fixed black"></i> 32 GLOBAL PATNERS
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="box-fact">
                                                        <i class="fa fa-calendar-o icn-fixed black"></i> 20 YEARS EXPRERIENCE
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="centre">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        
                                        <ul>
                                            <li>The datase which contains information about over 60,000 cars is saved on Azure as part of the solution</li>
                                            <li>The drop down menus are populated dynamically with car details from the database</li>
                                            <li>
                                                Once a car has been selected, the local database is displays all avaialable information on that car. This information includes
                                                engine size, doors, weight, length, fuel type, etc...
                                            </li>
                                            <li>Another call is made to the BING API to retrieve images available for the chosen car</li>
                                            <li>The images are displayed via a AngularJS carousel</li>
                                            <li>A third call is made to the NHTSA API to retrieve information about potential recalls in the USA</li>
                                            <li>If there have been recalls, those are display at the bottom of the page in collapsed panel that can be extentded by the user</li>
                                            <li>The front-end of the app has been programmed in Angular JS and Bootstrap</li>
                                            <li>The back-end (including the API calls) has been programmed in C#</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id='search' class="tab-pane fade">
                            <div class="body-content">
                                <div class="row">
                                    <div id="start" class="col-sm-12" ng-app="CarFinderApp">
                                        <div ng-controller="CarFinderAppController">
                                            <div class="row selection">
                                                <div class="col-sm-3">
                                                    <label for="yearSelection" class="myLabels">YEAR</label>
                                                    <select id="yearSelection" class="form-control" ng-model="selectedYear" ng-options="y for y in years" ng-change="getMakes()"></select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="makeSelection" class="myLabels">MAKE</label>
                                                    <select id="makeSelection" class="form-control" ng-model="selectedMake" ng-disabled="makes == null" ng-options="make for make in makes" ng-change="getModels()"></select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="modelSelection" class="myLabels">MODEL</label>
                                                    <select id="modelSelection" class="form-control" ng-model="selectedModel" ng-disabled="models == null" ng-options="model for model in models" ng-change="getTrims()"></select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label for="trimSelection" class="myLabels">TRIM</label>
                                                    <select id="trimSelection" class="form-control" ng-model="selectedTrim" ng-disabled="trims == null" ng-options="trim for trim in trims" ng-change="getCar()"></select>
                                                </div>
                                            </div>

                                            <h2 id="carHeading">
                                                <!-- Insert car heading here-->
                                                {{carData.Car.Model_year}} {{carData.Car.Make | uppercase}} {{carData.Car.Model_name | uppercase}}
                                                <br />
                                            </h2>
                                            <div class="row" id="displayElements" ng-show="carData != null">
                                                <div class="col-sm-7" id="slides_control">
                                                    <uib-carousel interval="slideInterval">
                                                        <uib-slide ng-repeat="url in carData.ImageURLs">
                                                            <img class="img-responsive" ng-src="{{url}}" />
                                                        </uib-slide>
                                                    </uib-carousel>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="row" ng-show="carData.Car.Trim != ''">
                                                        <div class="col-sm-5">Trim: </div>
                                                        <div class="col-sm-7">{{selectedTrim}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Doors != ''">
                                                        <div class="col-sm-5">Doors: </div>
                                                        <div class="col-sm-7">{{carData.Car.Doors}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Body_style != ''">
                                                        <div class="col-sm-5">Body Style: </div>
                                                        <div class="col-sm-7">{{carData.Car.Body_style}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Engine_cc != ''">
                                                        <div class="col-sm-5">Engine Size: (cc) </div>
                                                        <div class="col-sm-7">{{carData.Car.Engine_cc}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Engine_num_cyl != ''">
                                                        <div class="col-sm-5">Cylinders: </div>
                                                        <div class="col-sm-7">{{carData.Car.Engine_num_cyl}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Engine_power_ps != ''">
                                                        <div class="col-sm-5">Engine Power (ps): </div>
                                                        <div class="col-sm-7">{{carData.Car.Engine_power_ps}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Engine_valves_per_cyl  != ''">
                                                        <div class="col-sm-5">Valves per Cylinder: </div>
                                                        <div class="col-sm-7">{{carData.Car.Engine_valves_per_cyl}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Engine_position != ''">
                                                        <div class="col-sm-5">Engine Position: </div>
                                                        <div class="col-sm-7">{{carData.Car.Engine_position}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Engine_fuel != ''">
                                                        <div class="col-sm-5">Fuel Type: </div>
                                                        <div class="col-sm-7">{{carData.Car.Engine_fuel}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Top_speed_kph != ''">
                                                        <div class="col-sm-5">Top Speed (kph): </div>
                                                        <div class="col-sm-7">{{carData.Car.Top_speed_kph}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Zero_to_100_kph != ''">
                                                        <div class="col-sm-5">0 to 100kph (sec): </div>
                                                        <div class="col-sm-7">{{carData.Car.Zero_to_100_kph}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Drive_type != ''">
                                                        <div class="col-sm-5">Drive Type: </div>
                                                        <div class="col-sm-7">{{carData.Car.Drive_type}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Transmission_type != ''">
                                                        <div class="col-sm-5">Transmission Type </div>
                                                        <div class="col-sm-7">{{carData.Car.Transmission_type}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Seats != ''">
                                                        <div class="col-sm-5">Seats: </div>
                                                        <div class="col-sm-7">{{carData.Car.Seats}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Weight_kg != ''">
                                                        <div class="col-sm-5">Weight (kg): </div>
                                                        <div class="col-sm-7">{{carData.Car.Weight_kg}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Length_mm != ''">
                                                        <div class="col-sm-5">Length (mm): </div>
                                                        <div class="col-sm-7">{{carData.Car.Length_mm}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Width_mm != ''">
                                                        <div class="col-sm-5">Width (mm): </div>
                                                        <div class="col-sm-7">{{carData.Car.Width_mm}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Height_mm != ''">
                                                        <div class="col-sm-5">Height (mm): </div>
                                                        <div class="col-sm-7">{{carData.Car.Height_mm}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Wheelbase != ''">
                                                        <div class="col-sm-5">Wheelbase (mm): </div>
                                                        <div class="col-sm-7">{{carData.Car.Wheelbase}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.Fuel_capacity_l != ''">
                                                        <div class="col-sm-5">Fuel Capacity (l): </div>
                                                        <div class="col-sm-7">{{carData.Car.Fuel_capacity_l}}<br /></div>
                                                    </div>
                                                    <div class="row" ng-show="carData.Car.CO2 != ''">
                                                        <div class="col-sm-5">CO2 (g/km): </div>
                                                        <div class="col-sm-7">{{carData.Car.CO2}}<br /></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="myRecalls">
                                                <div class="panel panel-default recallPanel" ng-show="carData.Recalls.Count> 0">
                                                    <div class="panel-heading recallPanel">
                                                        <h3 class="panel-title text-center">
                                                            <a href="" ng-click="viewRecalls()">
                                                                <span class="viewRecalls">View Recalls ({{carData.Recalls.Count}})</span>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div id="loc" uib-collapse="isCollapsed">
                                                        <div class="panel-body">
                                                            <div ng-view>
                                                                <div class="col-sm-12">
                                                                    <div ng-repeat="recallItem in carData.Recalls.Results">

                                                                        <div class="bold" ng-show="recallItem.NHTSACampaignNumber != null">
                                                                            <div class="row">
                                                                                <div class="col-sm-3 text-right recallDescription">Recall Number: </div>
                                                                                <div class="col=sm-9 text-left recallDetail">{{recallItem.NHTSACampaignNumber}}</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="bold" ng-show="recallItem.Component != null">
                                                                            <div class="row">
                                                                                <div class="col-sm-3 text-right recallDescription">Affected Component: </div>
                                                                                <div class="col=sm-9 text-left recallDetail">{{recallItem.Component}}</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="bold" ng-show="recallItem.Summary != null">
                                                                            <div class="row">
                                                                                <div class="col-sm-3 text-right recallDescription">Recall Reason: </div>
                                                                                <div class="col=sm-9 recallDetail">{{recallItem.Summary}}</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="bold" ng-show="recallItem.Conequence != null">
                                                                            <div class="row">
                                                                                <div class="col-sm-3 text-right recallDescription">Consequence: </div>
                                                                                <div class="col=sm-9 text-left recallDetail">{{recallItem.Conequence}}</div>
                                                                                <br />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id='apihelp' class="tab-pane fade apiPage">
                            <div class="body-content">
                                <br />
                                <br />
                                <br />
                                @Html.ActionLink("Click here for the Visual Studio generated API help page", "Index", "Help", null, new { @id = "apiLink" })                            
                            </div>
                        </div>
  
                        <div id='contact' class="tab-pane fade">
                            <div class="body-content">
                                <h3 class="title"> Get In Touch</h3>

                                <form>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="FullnameForm">Fullname</label>
                                                <input type="text" class="form-control" id="FullnameForm" placeholder="Enter Fullname">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="CompanyForm">Company</label>
                                                <input type="text" class="form-control" id="CompanyForm" placeholder="Enter Company">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="EmailForm">Email Address</label>
                                                <input type="email" class="form-control" id="EmailForm" placeholder="Enter Address">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="PhoneForm">Phone Number</label>
                                                <input type="text" class="form-control" id="PhoneForm" placeholder="Enter Phone NUmber">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="MesageForm">Message</label>
                                        <textarea class="form-control" rows="8" id="MesageForm" placeholder="Enter Message"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-flat btn-lg"><span class="glyphicon glyphicon-send"></span> Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div id="wait-page" class="text-center">Loading...</div>
