
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carfinder</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Font Icon and Plugins -->
    <link href="assets/font/fa/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/font/tello/css/fontello.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/animation.css" rel="stylesheet">
    <!-- Theme of Design -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="assets/images/faicon.png">
    <link rel="apple-touch-icon" sizes="129x129" href="assets/images/icon.png">

    <link href="assets/css/yourcss.css" rel="stylesheet">
</head>
<body>
    <!-- =========
    Start Wrapper Page
    ===================================-->
    <div id="wrapper">  
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <header class="portrait"id="startpage">                     
                        <div class="body-portrait">   
                            <br />                                 
                            <h1><b>Carfinder App</b></h1>
                            <br />
                            <br />
                            <h2><b>Find the Second Hand Car of Your Dreams</b></h2>
                            <br />
                            <br />
                            <br />
                            <br />
                            <h4><b>An Angular JS/C# App</b></h4>
                            <br />
                            <br />
                            <br />
                            <a href="javascript:void(0)" class="btn btn-flat " id="open-content">Click Here to Start</a>
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                    </header>
                    <!-- =========
                    End portrait section
                    ===================================-->
                    <!-- =========
                    Start Content section
                    ===================================-->
                    <section class="content" id="main-content">

                        <!-- =========
                        Start navigation section
                        ===================================-->
                        <nav id='navigation'>
                            <ul class="navigation-list clearfix list-unstyled">
                                <li class="active"><a href="#about" data-toggle="tab" data-menu="about"><i class="icon-user"></i> <span>About</span></a></li>
                                <li><a href="#resume" data-toggle="tab" data-menu="resume"><i class="icon-newspaper"></i>  <span>Cars</span></a></li>
                                <li><a href="#portfolio" data-toggle="tab" data-menu="portfolio"><i class="icon-folder-open"></i> <span>API</span></a></li>
                                <li><a href="#contact" data-toggle="tab" data-menu="contact"><i class="icon-mail"></i> <span>Contact</span></a></li>
                            </ul>
                        </nav>
                        <!-- =========
                        End navigation section
                        ===================================-->
                        <!-- =========
                        Start tab content section
                        ===================================-->
                        <div class="tab-content">

                            <!-- =========
                            Start About tab content section
                            ===================================-->
                            <div id='about' class="tab-pane  fade in  active">
                                <div class="body-content">

                                    <!-- =========
                                    Start About your self section
                                    ===================================-->
                                    <div class="row" id="centre">                                  
                                        <div class="col-md-10 col-md-offset-1">
                                                <h2 class="title"> Car Finder App</h2>
                                                <p>This app is an excercise in using internal and external APIs.</p>
                                                    let's the user search a car database of over 60,000 cars on the server via an internal API. The drop down menus are populated 
                                                    dynamically based on the user's choices. </p>
                                                <p>Once a car has been chosen information available in the local database is displayed to the other. 
                                                    This information includes for example engine size, doors, weight, length, fuel type, etc... However,
                                                    please note that the database is missing some of the information for some cars and in those cases
                                                    only the available information will be displayed.</p>
                                                <p>Using a BING API 5 pictures for the car will also be displayed. </p>
                                                <p>The user can also check for details of any recalls in the USA for the chosen car. This is done via a API to the NHTSA database. </p>
                                                <p>The back-end has been programmed with C# and the front-end with AngularJS.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    
                            <!-- =========
                            End About tab content section
                            ===================================-->
                            <!-- =========
                            Start resume tab content section
                            ===================================-->
                            <div id='resume' class="tab-pane fade">
                                <div class="body-content">
                                    <div id="start" class="container" ng-app="CarFinderApp">
                                        <div ng-controller="CarFinderAppController">                         
                                                <div class="row selection">
                                                    <div class="col-lg-2">
                                                        <label for="yearSelection" class="myLabels">YEAR</label>
                                                        <select id="yearSelection" class="form-control" ng-model="selectedYear" ng-options="y for y in years" ng-change="getMakes()"></select>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label for="makeSelection" class="myLabels">MAKE</label>
                                                        <select id="makeSelection" class="form-control" ng-model="selectedMake" ng-disabled="makes == null" ng-options="make for make in makes" ng-change="getModels()"></select>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label for="modelSelection" class="myLabels">MODEL</label>
                                                        <select id="modelSelection" class="form-control" ng-model="selectedModel" ng-disabled="models == null" ng-options="model for model in models" ng-change="getTrims()"></select>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label for="trimSelection" class="myLabels">TRIM</label>
                                                        <select id="trimSelection" class="form-control" ng-model="selectedTrim" ng-disabled="trims == null" ng-options="trim for trim in trims" ng-change="getCar()"></select>
                                                    </div>
                                                </div>

                                                <h2 id="carHeading" >
                                                    <!-- Insert car heading here-->
                                                    {{carData.car.Model_year}} {{carData.car.Make | uppercase}} {{carData.car.Model_name | uppercase}}
                                                    <br />
                                                </h2>
                                                <div class="row" id="displayElements" ng-show="carData != null">
                                                    <div class ="col-lg-4">
                                                        <div class="row" ng-show="carData.car.Trim != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Trim: </div>
                                                            <div class="col-md-7">{{selectedTrim}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Doors != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Doors: </div>
                                                            <div class="col-md-7">{{carData.car.Doors}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Body_style != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Body Style: </div>
                                                            <div class="col-md-7">{{carData.car.Body_style}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Engine_cc != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Engine Size (cc): </div>
                                                            <div class="col-md-7">{{carData.car.Engine_cc}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Engine_num_cyl != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Cylinders: </div>
                                                            <div class="col-md-7">{{carData.car.Engine_num_cyl}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Engine_power_ps != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Engine Power (ps): </div>
                                                            <div class="col-md-7">{{carData.car.Engine_power_ps}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Engine_valves_per_cyl  != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Valves per Cylinder: </div>
                                                            <div class="col-md-7">{{carData.car.Engine_valves_per_cyl}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Engine_position != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Engine Position: </div>
                                                            <div class="col-md-7">{{carData.car.Engine_position}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Engine_fuel != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Fuel Type: </div>
                                                            <div class="col-md-7">{{carData.car.Engine_fuel}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Top_speed_kph != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Top Speed (kph): </div>
                                                            <div class="col-md-7">{{carData.car.Top_speed_kph}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Zero_to_100_kph != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Zero to 100kph (sec): </div>
                                                            <div class="col-md-7">{{carData.car.Zero_to_100_kph}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Drive_type != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Drive Type: </div>
                                                            <div class="col-md-7">{{carData.car.Drive_type}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Transmission_type != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Transmission Type: </div>
                                                            <div class="col-md-7">{{carData.car.Transmission_type}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Seats != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Seats: </div>
                                                            <div class="col-md-7">{{carData.car.Seats}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Weight_kg != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Weight (kg): </div>
                                                            <div class="col-md-7">{{carData.car.Weight_kg}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Length_mm != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Length (mm): </div>
                                                            <div class="col-md-7">{{carData.car.Length_mm}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Width_mm != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Width (mm):</div>
                                                            <div class="col-md-7">{{carData.car.Width_mm}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Height_mm != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Height (mm): </div>
                                                            <div class="col-md-7">{{carData.car.Height_mm}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Wheelbase != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Wheelbase (mm): </div>
                                                            <div class="col-md-7">{{carData.car.Wheelbase}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.Fuel_capacity_l != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">Fuel Capacity (l): </div>
                                                            <div class="col-md-7">{{carData.car.Fuel_capacity_l}}<br /></div>
                                                        </div>
                                                        <div class="row" ng-show="carData.car.CO2 != ''">
                                                            <div class="col-md-4 col-md-offset-1 text-primary text-right">CO2 (g/km): </div>
                                                            <div class="col-md-7">{{carData.car.CO2}}<br /></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8" id="slides_control">
                                                        <!-- Set up an image carousel using UI-Bootstrap for Angular. To manage the sequence animation we require two
                                                            additional $scope variables, one to handle the slide change interval, one to say wheter to wrap the slides-->
                                                        <uib-carousel interval="slideInterval" no-wrap="!wrapSlides">
                                                            <uib-slide ng-repeat="url in carData.imageURLs">
                                                                <img class="img-responsive" ng-src="{{url}}"/>
                                                            </uib-slide>
                                                        </uib-carousel>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!-- =========
                            End resume tab content section
                            ===================================-->
                            <!-- =========
                            Start portfolio tab content section
                            ===================================-->
                            <div id='portfolio' class="tab-pane fade">
                                <div class="body-content">
                                   
                                </div>
                            </div>
                            <!-- =========
                            End portfolio tab content section
                            ===================================-->
                           
                            <!-- =========
                            Start Contact tab content section
                            ===================================-->
                            <div id='contact' class="tab-pane fade">
                                <div class="body-content">
                                    <h3 class="title"> Get In Touch</h3>

                                    <!-- =========
                                    Start form contact section
                                    ===================================-->
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="FullnameForm">Fullname</label>
                                                    <input type="text" class="form-control" id="FullnameForm" placeholder="Enter Fullname">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="CompanyForm">Company</label>
                                                    <input type="text" class="form-control" id="CompanyForm" placeholder="Enter Company">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="EmailForm">Email Address</label>
                                                    <input type="email" class="form-control" id="EmailForm" placeholder="Enter Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="PhoneForm">Phone Number</label>
                                                    <input type="text" class="form-control" id="PhoneForm" placeholder="Enter Phone NUmber">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="MesageForm">Message</label>
                                            <textarea class="form-control" rows="8" id="MesageForm" placeholder="Enter Message"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-flat btn-lg"><span class="glyphicon glyphicon-send"></span> Send</button>
                                    </form>
                                    <!-- =========
                                    End form contact section
                                    ===================================-->

                                </div>
                            </div>

                        </div>
                        <!-- =========
                        End tab content section
                        ===================================-->
                    </section>
                    <!-- =========
                    End Content section
                    ===================================-->

                </div>
            </div>
        </div>
    </div>
    <!-- =========
    End Wrapper Page
    ===================================-->
    <!-- =========
    Text Showup Wait Document Ready
    ===================================-->
    <div id="wait-page" class="text-center">Loading...</div>


    <!-- =========
    Javascript load
    ===================================-->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="assets/js/jquery.autofix_anything.js"></script>
    <script src="assets/js/jquery.mixitup.min.js"></script>
    <script src='assets/js/jquery.magnific-popup.min.js'></script>
    <script src="assets/js/app.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="NgApp/app.js"></script>
    <script src="NgApp/Controllers/CarFinderAppController.js"></script>
</body>
</html>
